/*
=============== 
Buttons
===============
*/
.btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px;

  &:focus {
    outline: none;
  }

  transition: color .3s ease;

  &:hover {
    color: darken($color: white, $amount: 30);
  }

}

.btn-primary {
  background-color: $theme-color;
  border-radius: 5px;

  &:disabled {
    background-color: lighten($color: $theme-color, $amount: 15);
  }

  transition: background-color .3s ease;

  &:hover {
    background-color: darken($color: $theme-color, $amount: 15);
  }

}

.btn-block {
  width: 100%;
}
