/*
=============== 
Input
===============
*/
.input {
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;

  &::placeholder {
    color: $input-chat-color;
    letter-spacing: $spacing;
  }

  &:focus {
    outline: none;
  }
}
